<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.house.house.mapper.AgencyMapper" >

    <sql id="agencyField">
          id ,
		  name,
		  address,
		  phone,
		  email,
		  about_us,
		  mobile,
		  web_site
   </sql>


    <!--查询经纪人-->
    <select id="selectAgent" resultType="user" >
        select * from user
        <where>
            enable = 1 and type = 2
            <if test="user.id != null and user.id != 0">
                and id = #{user.id}
            </if>
            <if test="user.name !=null and user.name != ''">
                and email = #{user.email}
            </if>
        </where>
        order by id desc
        <if test='pageParams.offset != null and pageParams.limit != null'>
            limit #{pageParams.offset}, #{pageParams.limit}
        </if>
        <if test='pageParams.offset == null and pageParams.limit != null'>
            limit #{pageParams.limit}
        </if>
    </select>

    <!--查询经纪人机构-->
    <select id="selectByAgency" resultType="agency" >
        select <include refid="agencyField" />
        from agency
        <where>
            <if test="agency.id != null and agency.id != 0">
                and id = #{agency.id}
            </if>
            <if test="agency.name !=null and agency.name != ''">
                and email = #{agency.email}
            </if>
        </where>
    </select>

</mapper>