<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.house.house.mapper.HouseUserMapper" >

    <!--基础信息-->
    <sql id="Base_Column_List" >
    id, house_id, user_id, create_time, type
    </sql>
    <select id="selectOneHouseUser" resultType="houseUser">
        select <include refid="Base_Column_List"/>
        from house_user where id = #{id} and  type = 1
    </select>

</mapper>