<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 配置关闭缓存  -->
        <setting name="cacheEnabled" value="false"/>
        <!-- 驼峰匹配  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--设置useGeneratedKeys为true，返回数据库自动生成的记录主键id-->
        <setting name="useGeneratedKeys" value="true"/>
        <setting name="defaultExecutorType" value="REUSE"/>
        <!-- 事务超时时间 -->
        <setting name="defaultStatementTimeout" value="600"/>
        <!-- 打印sql日志 -->
        <setting name="logImpl" value="STDOUT_LOGGING" />
    </settings>

    <!--别名-->
    <typeAliases>
        <!--<typeAlias type="com.house.house.common.bean.Record" alias="record" />-->
        <package name="com.house.house.common.bean"/>
    </typeAliases>

    <!--扫描.xml配置-->
    <mappers>
        <mapper resource="mapper/RecordMapper.xml" />
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/HouseMapper.xml" />
    </mappers>

</configuration>